@font-face {
  font-family: "SOYOMapleBoldTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SOYOMapleBoldTTF";
  width: 100%;
  height: 100%;
}

/* menu_section */
.menu_section {
  display: flex;
  justify-content: flex-start;
  background-color: aliceblue;
  width: 100%;
  height: 65px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 197px;
  margin-top: 13px;
  font-weight: 700;
  font-size: 30px;

  background-color: #1db565;
  color: #fff;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-top: 23px;
}

li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  float: left;
  margin-right: 40px;
}

/* nav */
.nav {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;

  width: 100%;
  height: 65px;
  background-color: #1db565;
}
.nav p {
  margin-right: 60px;
  margin-top: 12px;
  padding-top: 10px;
}
.nav .page1 {
  margin-right: 197px;
}
.nav .page2 {
  margin-right: 197px;
}
.nav p a {
  text-decoration: none;
  color: #fff;
}

.welcome_msg {
  background-color: #fff;
  border-radius: 30px;
  width: 180px;
  height: 30px;
  text-align: center;
}
