{% extends 'base.html' %} {% block content %}
<div class="login">
  <div class="login_content">
    <div class="login_text">
      <p class="login_p">Login</p>
    </div>
    <div class="login_form">
      <form
        method="post"
        action="{% url 'accounts:login' %}"
        class="login-form"
        id="loginForm"
      >
        {% csrf_token %}

        <div class="form-field">
          <label for="{{ form.username.id_for_label }}" class="form-label"
            >Username:</label
          >
          {{ form.username }}
        </div>

        <div class="form-field">
          <label for="{{ form.password.id_for_label }}" class="form-label"
            >Password:</label
          >
          {{ form.password }}
        </div>

        <button class="login_btn" type="button" onclick="submitForm()">
          Start Plant
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
