{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sukyung" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <link rel="stylesheet" href="{% static 'css/signup.css'%}" />
   
    <title>🪴Plant</title>

  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="menu_section">
        <div class="logo"><a href={% url 'main' %}>PLANT</a></div>
        <ul>
          <li>반려식물 찾기</li>
          <li>전국식물자랑</li>
          <li>스토어</li>
        </ul>
      </div>

      <!-- Nav -->
      <div class="nav">
        {% if user.is_authenticated %}
        <p class="welcome_msg">Welcome! {{ user.username }}!</p>
        <p><a href="{% url 'accounts:logout' %}">로그아웃</a></p>
        <p class="page1"><a href="{% url 'accounts:update' %}">회원정보수정</a></p>
        {% else %}
        <p></p>
        <p><a href="{% url 'accounts:login' %}">로그인</a></p>
        <p class="page2"><a href="{% url 'accounts:signup' %}">회원가입</a></p>
        {% endif %}
      </div>
    </header>

    <div class="block_content">
      
    {% block content %}

    {% endblock content %} 

    </div>
    
    <!-- footer -->
    <div class="bottom">
      <div class="footer_contact">
        <p>Contact</p>
        <div class="footer_text">
          <p>email : plant@email.com</p>
          <p>tell : 070-0000-0000 (11:00 am - 18:00 / 토,일,공유일 휴무)</p>
          <p>@2024. PLANT corp. all rights reserevd. Django FullStack.</p>
        </div>
      </div>
    </div>


  </body>
</html>



<!-- JavaScript only -->
<script></script>
