{% load static %}

<!-- CSS only -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sukyung" />
    <title>🪴Plant</title>
  </head>
  <body>
    <h1>HOME</h1>

    {% if user.is_authenticated %}
    <p>환영합니다, {{ user.username }}님!</p>
    <p><a href="{% url 'accounts:logout' %}">로그아웃</a></p>
    <p><a href="{% url 'accounts:update' %}">마이페이지</a></p>
    {% else %}
    <p><a href="{% url 'accounts:login' %}">로그인</a></p>
    <p><a href="{% url 'accounts:signup' %}">회원가입</a></p>
    {% endif %}
  </body>
</html>

<!-- JavaScript only -->
<script></script>

<!--  -->
{% block content %} {% endblock %}
